doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Video player
    link(rel="stylesheet",href="assets/css/app.css")
    link(rel="stylesheet",href="assets/css/foundation.min.css")
    link(rel="stylesheet",href="assets/css/style.css")
    script(src="assets/js/vendor/jquery.js")
  body
    div.flex-video.widescreen.vimeo
      iframe(src="assets/videos/Alonzo - Binta.mp4",width="400",height="225",frameborder="0",webkitAllowFullScreen,mozallowfullscreen,allowFullScreen)
    script(src="assets/js/vendor/what-input.js")
    script(src="assets/js/vendor/foundation.min.js")
    script(src="assets/js/app.js")
div.progressBar
  div.bufferBar
    